:root{
    --color: #1A99BC;
    --colorMedio: #5C9CB7;
    --colorfin: #DEE1E6;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 2em;
}
.body-index{
    background: linear-gradient(to bottom, var(--color), var(--colorMedio), var(--colorfin));
}
.container{
    width: 80%;
    margin: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    width: 100vw;
    height: 100vh;
}
header{    
    margin-top: 10rem;
    justify-self: center;
}
h1, h2, h3{
    text-align: center;
}
main{   
    font-weight: 400;
}
.index-container{
    margin-top: -6rem;
}
.main-content{
    margin-top: 6rem;
}
p{
    width: 100%;
    text-align: justify;
    line-height: 1.6;
}
input[type=text]{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    letter-spacing: 0.05em;
    border-bottom: 1px solid black;
}
input[type=number]{
    width: 100px;
    border-bottom: 1px solid black;
    font-size: 1em;
}
input[type=month]{
    font-size: 1em;
}
#firma{
    touch-action: none;
}
button{
    width: 26px;
    height: 24px;
    border: 0.5px solid rgba(0, 0, 0, 0.479);
    border-radius: 3px;
    align-self: flex-end;
}
#btnCrearPdf{
    position: absolute;
    width: 28px;
    height: 30px;
/*     right: 100px;
 */}
#btnCrearPdf:hover{
    transform: scale(1.3);
}
canvas{
    touch-action: none;
    border: 1px solid #000000;
}

.header-home{
    margin: 1rem;
}
.title{
    width: 90%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.title-covid{
    margin: auto;
    display: flex;
    flex-direction: column;
}
#firmas{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.consentimiento{
    width: 100%;
    margin: auto;
    white-space:pre-line;
}
/* #alergias{
    display: flex;
} */

.accordion-container{
    max-width: 35rem;
}
.accordion{
    width: 25rem;
    list-style: none;
    padding: .5em 1em;
    border-radius: 1em;
    background-color: rgba(0,0,0,0.2);
    box-shadow: -1em 1.5em 1.5em -0.5em rgba(0,0,0,0.3);
}
.accordion-row{
    position: relative;
}
.accordion-row:not(:last-child){
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.accordion-input{
    position: absolute;
    opacity: 0;
}
.accordion-label{
    position: relative;
    padding: 1em;
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 700;
    display: block;
}
.accordion-label:after{
    content: "";
    display: inline-block;
    width: .5em;
    height: .5em;
    border: solid #000000;
    border-width: 0 3px 3px 0;
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-60%) rotate(45deg);
    transition: transform 0.3s ease-in-out;
}
.accordion-input:checked + .accordion-label:after{
    transform: translateY(-25%) rotate(225deg);
}
.accordion-content{
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s ease-in-out;
    padding: 0 1em;
}
.accordion-content > p{
    margin: 0 0 1em;
    color: #000000;
}
.accordion-content > p:hover{
    transform: scale(1.08);
}
a{
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}
a:visited{
    color: #000000;
}
.accordion-input:checked ~ .accordion-content{
    max-height: 100vh;
}


@media only screen and (max-width: 600px){
    .container{
        width: 500px;
    }
    .index-container{
        margin-top: 1rem;
    }
    canvas{
        touch-action: none;
    }
    .accordion{
        width: 20rem;
    }
    #firmas{
        display: flex;
        flex-direction: column;
    }
    #alergias{
        display: flex;
        flex-direction: column;
    }
    #alergias span{
        margin-top: .6rem;
        margin-bottom: 0.8rem;
    }

@media only screen and (max-width: 412px){
    .container{
        width: 350px;
    }
    .index-container{
        margin-top: 1rem;
    }
    canvas{
        touch-action: none;
    }
    #firmas{
        display: flex;
        flex-direction: column;
    }
    #alergias{
        display: flex;
        flex-direction: column;
    }
    #alergias span{
        margin-top: .6rem;
        margin-bottom: 0.8rem;
    }
}


}
@media print{
    #firmas{
        display: flex;
        flex-direction: column;
    }
}
